<PaperCard>
  <FileDropzone @name="acc-json"
                @ondrop={{action "importJson"}}
                @multiple=true
                as |dropzone queue|>
    <h4>Import ACC Results {{#if this.isLoaded}}{{paper-icon "done"}}{{/if}}</h4>
  </FileDropzone>
</PaperCard>

{{yield}}
