{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>SW Runes Tracker</h2>
    {{#paper-button href=(href-to "import")}}
      {{paper-icon "swap-vert"}}
      Import / Export
    {{/paper-button}}
    {{#paper-button href=(href-to "view-results")}}
      {{paper-icon "search"}}
      View Results
    {{/paper-button}}
    <span class="flex"></span>
    v0.0.2
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{yield}}
